<mdb-carousel [controls]="true" [animation]="'fade'" [interval]="3000">
  <mdb-carousel-item class="banner">
    <img src="../../../assets/images/render-img/Martim_29.jpg" class="d-block w-100 kenburns-top " alt="..." />
    <div class="carousel-caption d-none d-md-block clouds">

      <img class="clouds-img" src="assets/images/clouds/cloud2.png" style="--i:2" alt="">
      <img class="clouds-img" src="assets/images/clouds/cloud3.png" style="--i:3" alt="">
      <img class="clouds-img" src="assets/images/clouds/cloud4.png" style="--i:4" alt="">
      <img class="clouds-img" src="assets/images/clouds/cloud5.png" style="--i:5" alt="">
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item class="banner">
    <img src="../../../assets/images/render-img/8meses_7.jpg" class="d-block w-100 kenburns-top " alt="..." />
    <div class="carousel-caption d-none d-md-block clouds">

      <img class="clouds-img" src="assets/images/clouds/cloud2.png" style="--i:2" alt="">
      <img class="clouds-img" src="assets/images/clouds/cloud3.png" style="--i:3" alt="">
      <img class="clouds-img" src="assets/images/clouds/cloud4.png" style="--i:4" alt="">
      <img class="clouds-img" src="assets/images/clouds/cloud5.png" style="--i:5" alt="">
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item class="banner">
    <img src="../../../assets/images/render-img/6meses_49.jpg" class="d-block w-100 kenburns-top " alt="..." />
    <div class="carousel-caption d-none d-md-block clouds">

      <img class="clouds-img" src="assets/images/clouds/cloud2.png" style="--i:2" alt="">
      <img class="clouds-img" src="assets/images/clouds/cloud3.png" style="--i:3" alt="">
      <img class="clouds-img" src="assets/images/clouds/cloud4.png" style="--i:4" alt="">
      <img class="clouds-img" src="assets/images/clouds/cloud5.png" style="--i:5" alt="">
    </div>
  </mdb-carousel-item>
</mdb-carousel>
