<!-- Gallery -->
<div class="container">
  <!-- <div class="row">
    <div class="col-lg-4 col-md-12 my-4">
      <img src="../../../assets/images/bebe/Bebe/2meses_9.jpg" class="w-100 shadow-1-strong  my-2 "
        alt="Boat on Calm Water" />

      <img src="../../../assets/images/bebe/Bebe/5meses_1.jpg" class="w-100 shadow-1-strong  my-2 "
        alt="Wintry Mountain Landscape" />
    </div>

    <div class="col-lg-4 my-4">
      <img src="../../../assets/images/recem-nascido/Recém-nascido/Martim_13.jpg" class="w-100 shadow-1-strong my-2"
        alt="Mountains in the Clouds" />

      <img src="../../../assets/images/recem-nascido/Recém-nascido/Martim_43.jpg" class="w-100 shadow-1-strong my-2 "
        alt="Boat on Calm Water" />
    </div>

    <div class="col-lg-4 my-4">
      <img src="../../../assets/images/familia/Familia/6meses_43.jpg" class="w-100 shadow-1-strong my-2"
        alt="Waves at Sea" />

      <img src="../../../assets/images/familia/Familia/6meses_49.jpg" class="w-100 shadow-1-strong my-2"
        alt="Yosemite National Park" />
    </div>
  </div> -->
  <div class="row justify-content-center mt-4 pt-4">
    <div class="col-lg-4 col-md-12 p-2">
      <img src="../../../assets/images/render-img/5meses_8.jpg" class="w-100 shadow-1-strong" alt="" />
    </div>
    <div class="col-lg-2 col-md-12 p-2">
      <img src="../../../assets/images/render-img/Martim_13.jpg" class="w-100 shadow-1-strong  " alt="" />
    </div>
    <div class="col-lg-6 col-md-12 p-2">
      <img src="../../../assets/images/render-img/6meses_47.jpg" class="w-100 shadow-1-strong " alt="" />
    </div>
  </div>
  <div class="row justify-content-center mb-4 pb-4">
    <div class="col-lg-6 col-md-12 p-2">
      <img src="../../../assets/images/render-img/Martim_29.jpg" class="w-100 shadow-1-strong " alt="" />
    </div>
    <div class="col-lg-4 col-md-12 p-2">
      <img src="../../../assets/images/render-img/7meses_5.jpg" class="w-100 shadow-1-strong  " alt="" />
    </div>
    <div class="col-lg-2 col-md-12 p-2">
      <img src="../../../assets/images/render-img/8meses_7.jpg" class="w-100 shadow-1-strong" alt="" />
    </div>
  </div>


</div>
<!-- Gallery -->
