.btn {
  background-color: var(--secondary-color);
  color: white;
}
.btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.form-control:focus {
  border-color: var(--secondary-color) !important;
}

textarea:focus,
input:focus,
.form-control:focus {
  border-color: #cccccc;
  outline: none !important;
  -webkit-box-shadow: none;

  box-shadow: none !important;
}
