.btn {
  background-color: var(--secondary-color);
  color: white;
}
.btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

// .form-control:focus {
//   border-color: var(--secondary-color) !important;
// }

// textarea:focus,
// input:focus,
// .form-control:focus {
//   border-color: #cccccc;
//   outline: none !important;
//   -webkit-box-shadow: none;

//   box-shadow: none !important;
// }

.form-outline .form-control:focus~.form-notch .form-notch-leading {
  border-top: .125rem solid var(--secondary-color);
  border-bottom: .125rem solid var(--secondary-color);
  border-left: .125rem solid var(--secondary-color);
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
  border-top: .125rem solid var(--secondary-color);
  border-right: .125rem solid var(--secondary-color);
  border-bottom: .125rem solid var(--secondary-color);
}

.form-outline .form-control:focus~.form-notch .form-notch-middle {
  border-top: 0;
  border-bottom: .125rem solid var(--secondary-color);
}
.form-outline .form-control~.form-notch .form-notch-leading {
  border-radius: 10px 0 0 10px;
}

.form-outline .form-control~.form-notch .form-notch-trailing {
 border-radius: 0 10px 10px 0;
}

.form-label {
color: var(--secondary-color) !important;
}
