div .icons {
  margin-top: 3.5rem;
  p {
    padding-bottom: 0.5rem;
  }
  i {
    font-size: 1.5rem;
  }
  iframe {
    max-width: "546px";
    max-height: "400px";
    width: 100%;
    height: 100%;
  }
}
