<button type="button" class=" position-absolute top-0 end-0 opacity-100 rounded-circle"
  style="background-color: white; border: none;" aria-label="Close" (click)="close()"><i
    class="fa-regular fa-circle-xmark" style="color: #a86d62;font-size: 2.5rem;"></i></button>

<div class="modal-body position-static">
   <img [src]="image" class="w-100" alt="Catarina Barbosa" />
  <!-- <img
    src="https://img.freepik.com/fotos-premium/um-povo-com-um-guarda-chuva-no-meio-da-chuva-forte-no-fundo-da-estrada_765331-1416.jpg"
    class="w-100" alt="Catarina Barbosa" /> -->
</div>
