<div class="container">
  <div class="row my-4 pt-4">
    <h1 class="text-center mb-4 py-2">Sobre mim</h1>
    <div class="col-lg-6 col-md-12 mb-4 div-img">
      <img class="w-100" src="assets/images/catarina.jpeg" alt="Catarina Barbosa">

    </div>

    <div class="col-lg-6 col-md-12 mb-4">
      <p>Sou a Catarina nasci em 1995 em Marco de
        Canaveses, onde ainda vivo até hoje.</p>
      <p>A minha paixão pela fotografia vem desde sempre.
        Comecei a fotografar ainda na adolescência quando
        os meus pais me oferecem a minha primeira
        camara.</p>
      <p>Em 2021 percebi que queria que a fotografia
        deixasse de ser apenas um hobbie e decidi então
        formar-me em fotografia e especializar-me em
        Grávidas e Recém-nascidos.</p>

    </div>
  </div>
</div>
