nav {
  a {
    text-transform: uppercase;
  }
  a,
  i {
    color: var(--secondary-color);
  }
  i {
    font-size: 1.5rem;
  }
  img {
    width: 120px;
    padding: 0;
  }
  a:hover,
  i:hover {
    color: white;
  }
  a:active {
    font-weight: bolder;
    color: var(--secondary-color);
  }
}

@media only screen and (max-width: 913px) {
  .nav-end {
    align-items: end !important;
  }
  .icons {
    display: flex;
    gap: 1rem;
  }
}
