nav {
  a {
    text-transform: uppercase;
  }
  a,
  i {
    color: var(--secondary-color);
  }
  i {
    font-size: 1.5rem;
  }
  img {
    width: 120px;
    padding: 0;
  }
  a:hover,
  i:hover {
    color: white;
  }
}

// @include media-breakpoint-down(md) {
//   .nav-end {
//     align-items: end;
//   }
// }
