<div class="container">
  <div class="row my-4 pt-4">
    <h1 class="text-center mb-4 py-2">Bebé</h1>
    <div class="text mb-4 pb-4">
      <p>As sessões de bebé são realizadas no primeiro ano de vida. A
        partir dos 3 meses o bebé já ganhou alguma maturidade, já
        interage, sorri e segura a cabeça de barriga para baixo. Aos
        6 meses normalmente já começa a segurar-se sentado sem
        apoio o que permite um registo fotográfico ainda mais
        variado.
        </p>
      <p>Esta fase é cheia de novidades e passa muito rápido, vale a
        pena guardar um registo.
        </p>
      <p> Normalmente estas sessões são realizadas em estúdio mas se
        estivermos no verão e o bebé já se segurar sentado sem apoio
        também é possível fazer no exterior.</p>
      <p>Os pais também podem participar na sessão.
      </p>
    </div>
    <app-gallery [images]="images">
    </app-gallery>
  </div>
</div>
