<div class="container">
  <div class="row my-4 pt-4">
    <h1 class="text-center mb-4 py-2">Famílias</h1>
    <div class="text mb-4 pb-4">
      <p>As sessões de família normalmente acontecem no exterior
        onde as crianças se sentem mais livres e de uma forma natural
        e divertida vou captar os melhores momentos da vossa
        família.
      </p>
      <p>Eles crescem tão rápido, este registo vai ser precioso para
        toda a vida.
      </p>
    </div>
    <div class="col-lg-4 col-md-12 mb-4" *ngFor="let image of images">
      <app-grid [image]="image.image "></app-grid>

    </div>
  </div>
</div>