<div class="container">
  <div class="row my-4 pt-4">
    <h1 class="text-center mb-4 py-2">Recém-nascido</h1>
    <div class="text mb-4 pb-4">
      <p>A sessão de recém-nascido é realizada idealmente 5 a 12
        dias após o nascimento, altura em que o bebé ainda dorme
        bastante e é mais flexível às poses pretendidas.</p>
      <p>Recomendo agendar a sessão com antecedência ainda
        antes do nascimento de forma a garantir disponibilidade,
        é marcada pela data prevista de parto e posteriormente
        ajustada à data de nascimento.</p>
      <p> Todos os adereços estão incluídos.</p>
      <p>A duração da sessão varia conforme a disposição e sono do
        bebé.</p>
      <p>O estúdio é climatizado de forma a que o bebé fique
        confortável mesmo sem roupa.
      </p>
      <p>Todos os cuidados de conforto, segurança e higiene são
        assegurados.
      </p>
    </div>
    <div class="col-lg-4 col-md-12 mb-4" *ngFor="let image of images">
      <app-grid [image]="image.image "></app-grid>
    </div>
  </div>
</div>
