<div class="container">
  <div class="row my-4 pt-4">
    <h1 class="text-center mb-4 py-2">Grávidas</h1>
    <div class="text mb-4 pb-4">
      <p>A Sessão de grávida é realizada idealmente entre as 28 e
        34 semanas quando já se nota bem a barriga e ainda tem
        facilidade nos movimentos.
        Pode realizar a sessão em estúdio ou exterior conforme o
        seu gosto pessoal.</p>
      <p>A sessão de exterior é recomendada a
        quem gosta de um estilo mais espontâneo e natural, é uma
        sessão mais fluída e dinâmica.</p>
      <p> A sessão de estúdio é um
        pouco mais intimista focada no corpo e nas curvas da
        mulher.</p>
      <p>Recomendo que façam maquilhagem e arranjem o cabelo
        se for do vosso gosto.</p>
      <p>Tenho algum vestuário à disposição das clientes que
        poderão utilizar sem qualquer custo adicional.
        O pai e irmãos também podem e devem participar.
      </p>
    </div>
    <div class="col-lg-4 col-md-12 mb-4" *ngFor="let image of images">
      <app-grid [image]="image.image "></app-grid>
    </div>
  </div>
</div>