.card-image {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn_category {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a86d62;
    border: none;
    opacity: 0;
    color: white;
  }

  .image {
    width: 100%;
    max-height: 360px;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }
}

.card-image:hover {
  .image {
    opacity: 0.5;
  }

  cursor: pointer;
  .btn_category {
    opacity: 1;
    z-index: 3;
  }
}

// @media only screen and (max-width: 913px) {
//   .text-mobile-category {
//     position: absolute;
//     color: black;
//     background-color: white;
//   }
// }
@media only screen and (max-width: 913px) {
  .card-image .btn_category {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    background-color: #f9e1e5;
    border: none;
    opacity: 1;
    color: #a86d62;
  }
}
